<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>run0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,550},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pappa.png</string>
            <key>size</key>
            <string>{2050,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f4293977d08dfa20887a5eaa531e0d2:094658e736fd329bed3b7726f52a2345:a9f247bbeee3f27c41a6ec7988b449da$</string>
            <key>textureFileName</key>
            <string>pappa.png</string>
        </dict>
    </dict>
</plist>
